# Use network installation
#url --url="http://sunsite.rediris.es/mirror/CentOS/7/os/x86_64"
###repo --name="CentOS" --baseurl=http://ftp.ussg.iu.edu/linux/centos/7/os/x86_64
repo --name="CentOS" --baseurl=http://ftp.ussg.iu.edu/linux/centos/7/os/x86_64 --proxy=http://juno.load:3128/
#repo --name="EPEL" --baseurl=http://dl.fedoraproject.org/pub/epel/beta/7/x86_64
timezone --utc 65
clearpart --all
autopart
rootpw vagrant65
# Run the Setup Agent on first boot
firstboot --enable
# Accept Eula
eula --agreed
# Reboot afer installing
reboot

